<h2><%= @page.label %></h2>
<% @page.page_elements.each do |pe| %>
    <%= case pe.class.to_s
          when BigosApp::TextBlockElement.to_s
            render partial: "bigos_app/text_blocks/item", locals: {tb:pe.text_block}
          when BigosApp::GalleryElement.to_s
            render partial: "#{pe.gallery.is_background ? 'bigos_app/galleries/background' : 'bigos_app/galleries/item'}", locals: {g:pe.gallery}
          when BigosApp::ProductElement.to_s
            render partial: "bigos_app/products/item", locals: {pc:pe.product_category}
          when BigosApp::BigosTwitterBoxElement.to_s
            render partial: "bigos_app/bigos_twitter_module/item"
          when BigosApp::BigosInstagramBoxElement.to_s
            render partial: "bigos_app/bigos_instagram_module/item"
          when BigosApp::BigosContactBoxElement.to_s
            render partial: "bigos_app/bigos_contact_module/item"
          else
            pe.class.class_name + " " + pe.class.to_s
        end %>
<% end %>