<%= link_to "Add new page template", new_admin_page_template_path, class: "secondary button" %>
<% if current_admin_user.is_superadmin? %>
    <ul class="nav-bar vertical">
        <% @page_templates.each do |page_template| %>
          <li>
            <%= link_to page_template.name, admin_page_template_path(page_template) %>
          </li>
        <% end %>
    </ul>
<% end %>